<ion-content class="ion-padding">
  <div class="titulo-centro">
    <h2>SkeletonAPP</h2>
    <p>Aquí comienza todo</p>
  </div>

  <div style="margin-top: 20px;">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input
        type="text"
        name="usuario"
        [(ngModel)]="usuario"
        required
        minlength="3"
        maxlength="8"
        pattern="[a-zA-Z0-9]+"
        placeholder="Ingresa tu usuario"
      ></ion-input>
    </ion-item>
  </div>

  <div style="margin-top: 15px;">
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        type="password"
        name="password"
        [(ngModel)]="password"
        required
        minlength="4"
        maxlength="4"
        pattern="[0-9]+"
        placeholder="4 dígitos numéricos"
      ></ion-input>
    </ion-item>
  </div>

  <div style="text-align:center; margin-top: 25px;">

    <ion-button (click)="login()" color="primary" expand="block">
      Iniciar Sesión
    </ion-button>
    <ion-button (click)="registrar()" color="success" expand="block" style="margin-top: 10px;">
      Registrarse
    </ion-button>
  </div>

</ion-content>