.titulo-centro {
  text-align: center;          
  margin-top: 40px;            
  margin-bottom: 20px;         
}

.titulo-centro h2 {
  color: #3880ff;              
  margin-bottom: 5px;
}

.titulo-centro p {
  color: #555;
  font-size: 15px;
}
