<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Experiencia Laboral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-item>
    <ion-label position="stacked">Empresa</ion-label>
    <ion-input [(ngModel)]="nueva.empresa" type="text" placeholder="Nombre de la empresa"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Cargo</ion-label>
    <ion-input [(ngModel)]="nueva.cargo" type="text" placeholder="Tu cargo"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Año Inicio</ion-label>
    <ion-input [(ngModel)]="nueva.anioInicio" type="number" placeholder="Ej: 2020"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-checkbox [(ngModel)]="nueva.trabajaActualmente" slot="start"></ion-checkbox>
    <ion-label>Trabajo aquí actualmente</ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Año Término</ion-label>
    <ion-input 
      [(ngModel)]="nueva.anioTermino" 
      type="number" 
      placeholder="Ej: 2023"
      [disabled]="nueva.trabajaActualmente">
    </ion-input>
  </ion-item>
  
  <ion-button (click)="agregar()" expand="block" class="ion-margin-top">
    Agregar Experiencia
  </ion-button>

  <ion-list class="ion-margin-top">
    <ion-item-sliding *ngFor="let item of lista; let i = index">
      <ion-item>
        <ion-label>
          <h2>{{ item.empresa }}</h2>
          <p><strong>{{ item.cargo }}</strong></p>
          <p>
            {{ item.anioInicio }} - 
            <span *ngIf="item.trabajaActualmente" style="color: var(--ion-color-success);">Presente</span>
            <span *ngIf="!item.trabajaActualmente">{{ item.anioTermino }}</span>
          </p>
        </ion-label>
      </ion-item>
      
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminar(i)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>