#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1rem; 

}
/* ---------------------- */
/* Animación inicial (al cargar la página) */
/* ---------------------- */
@keyframes slideIn {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

ion-item,
ion-button {
  animation: slideIn 0.6s ease-out;
}

ion-item:nth-child(1) {
  animation-delay: 0.1s;
}
ion-item:nth-child(2) {
  animation-delay: 0.2s;
}
ion-item:nth-child(3) {
  animation-delay: 0.3s;
}
ion-item:nth-child(4) {
  animation-delay: 0.4s;
}
ion-button {
  animation-delay: 0.5s;
}

ion-item,
ion-button {
  animation-fill-mode: both;
}

/* ---------------------- */
/* Animación al presionar “Limpiar” */
/* ---------------------- */
@keyframes slideRight {
  from {
    transform: translateX(-40px);
    opacity: 0.8;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.slide {
  animation: slideRight 1s ease-out 0s 1 normal forwards;
}
